vcenter:
    ip_address: "172.16.16.205"
    vcenter_name: "core-vc.homelab.local"
    username: "administrator@vsphere.local"
    password: "VMwar3!!"

dns_server1: "172.16.16.200"
dns_server2: "172.16.16.201"
ntp_server1: "172.16.16.200"
ntp_server2: "172.16.16.201" 
timezone: "Asia/Dubai"
datacenter: "CORE-DC"
cluster: "CORE-CL"
pg: "Build_VLAN"
pg_new: "WANPG01"
guest: "centos8_64Guest"
password: "VMwar3!!"
subnet_mask: "255.255.255.0"
gateway: "192.168.1.1" 
esxi_host: "core-esxi01.homelab.local"
install_ip: "192.168.1.230"
temp: iso3492892094050254_eokj8889
rhel8_iso: "/root/ansible/iso/Rocky-8.6-x86_64-dvd1.iso"
syslinux: "/root/ansible/iso/syslinux-4.05-15.el7.x86_64.rpm"

master:
{% for i in range(1) %}
  - master0{{i+1}}.homelab.local:
       ip_address: "192.168.1.{{ i + 90 }}"    
       cpu: 2
       memory: 4096
       hdd: 
         - size_gb: 60
           type: thin
           datastore: "ds-0{{ i + 1 }}"
{% endfor %}

worker:
{% for i in range(1) %}
  - worker0{{i+1}}.homelab.local:
       ip_address: "192.168.1.{{ i + 95 }}"    
       cpu: 2
       memory: 4096
       hdd: 
         - size_gb: 60
           type: thin
           datastore: "ds-0{{ i + 4 }}"
{% endfor %}
   

